@import "../../styles/constants.scss";
.button {
  border: none;
  outline: none;
  padding: 2px 5px;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
.navbar__button {
  background-color: $navbar-toggle-button;
  color: $navbar-text;
}
.navbar__join {
  background-color: $button-join;
  border-radius: 3px;
  padding: 10px;
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}
.home__button {
  position: absolute;
  border-radius: 5px;
  background-color: $button-join;
  font-size: 20px;
  padding: 20px 80px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    padding: 30px 100px;
  }
}
.home__button:hover {
  opacity: 0.9;
}
.submit__button {
  padding: 10px;
  background-color: $submit-color;
  width: 160px;
  border-radius: 3px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 200px;
  }
}

.profile__button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: $profile__button-back;
  border-radius: 3px;
}
.button--disabled {
  cursor: not-allowed;
}
.logout__button {
  background-color: $logout-button;
  padding: 5px 10px;
  @media screen and (min-width: 992px) {
    padding: 10px 20px;
  }
}
.edit__button {
  padding: 10px 20px;
  background-color: $daycard-edit-color;
  border-radius: 5px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    padding: 10px 30px;
  }
}
.password__button {
  padding: 10px 20px;
  background-color: $profile-password-color;
  border-radius: 5px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    padding: 10px 30px;
  }
}
.remove__button {
  padding: 3px 15px;
  background-color: $daycard-remove-color;
  border-radius: 5px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}
.daycard__edit__button {
  padding: 10px 20px;
  background-color: $daycard-edit-color;
  border-radius: 5px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}
.modal__button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  margin: 5px;
  color: $modal-button-color;
  font-size: 24px;
}
.news__button {
  padding: 10px 20px;
  background-color: $daycard-edit-color;
  border-radius: 10px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}
.plan__delete__button {
  position: absolute;
  top: 05px;
  right: 5px;
  color: red;
  background-color: transparent;
}
.plan__delete__button:hover {
  color: rgb(255, 107, 107);
}
.remove__user__button {
  color: red;
  background-color: transparent;
  font-size: 20px;
  @media screen and (min-width: 1049px) {
    font-size: 14px;
  }
}
.change__button {
  color: blue;
  background-color: transparent;
  font-size: 20px;

  @media screen and (min-width: 1049px) {
    font-size: 14px;
  }
}
