.contactForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  @media screen and (min-width: 768px) {
    width: 50%;
  }
}
.form__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contactForm input {
  padding: 10px 5px;
  background-color: transparent;
  outline: none;
  border: 1px solid gray;
}
.contactForm input:focus {
  background-color: white;
}
.contactForm textarea {
  padding: 10px 5px;
  background-color: transparent;
  outline: none;
  border: 1px solid gray;
}
.contactForm textarea:focus {
  background-color: white;
}
