@import "../../../styles/constants.scss";

.button {
  border: none;
  outline: none;
  padding: 2px 5px;
  cursor: pointer;
}
.button:hover {
  opacity: 0.8;
}
.navbar__button {
  background-color: $navbar-toggle-button;
  color: $navbar-text;
}
.navbar__join {
  background-color: $button-join;
  border-radius: 3px;
  padding: 10px;
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}
.home__button {
  position: absolute;
  border-radius: 5px;
  background-color: $button-join;
  font-size: 20px;
  padding: 20px 80px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    padding: 30px 100px;
  }
}
.home__button:hover {
  opacity: 0.9;
}
.submit__button {
  padding: 10px;
  background-color: orange;
  width: 200px;
  border-radius: 3px;
  margin: 0 auto;
}
