@import "../../styles/../../styles/constants.scss";
.wrapper {
  z-index: 88;
  border-radius: 10px;
  padding: 20px;
  box-shadow: $box-shadow;
  background-color: white;
}
.dayCard__wrapper {
  width: 70%;
  @media screen and (min-width: 768px) {
    width: 20%;
  }
}
.choose__plan__wrapper {
  background-color: transparent;
  box-shadow: none;
}

.plan__wrapper {
  position: relative;
  transition: transform 0.3s ease;
}
.plan__wrapper:hover {
  cursor: pointer;
  transform: scale(1.05);

  @media screen and (min-width: 1048px) {
    transform: scale(1.1);
  }
}
