@import "../../styles/../../styles/constants.scss";
.wrapper {
  z-index: 99;
  background-color: $form-back;
  border-radius: 10px;
  padding: 20px;
  box-shadow: $box-shadow;
}
.profile__wrapper {
  background-color: white;
}
