@import "../../styles/../../styles/constants.scss";
.wrapper {
  z-index: 88;
  border-radius: 10px;
  padding: 20px;
  box-shadow: $box-shadow;
  background-color: white;
}
.dayCard__wrapper {
  width: 70%;
  @media screen and (min-width: 768px) {
    width: 20%;
  }
}
