@import "../../styles/constants.scss";
.navbar {
  z-index: 99;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: $navbar-back;
  padding: 20px;
  color: $navbar-text;
  box-sizing: border-box;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);

  @media screen and (min-width: 768px) {
    background-color: transparent;
  }
}
.protected {
  background-color: $navbar-back;
}
.navbar__mobile {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.navbar__link-list {
  padding: 0;
  text-align: center;
  list-style: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}
.navbar__link-list.hidden {
  max-height: 0;
  @media screen and (min-width: 768px) {
    max-height: fit-content;
    display: flex;
    flex-direction: row;
  }
}
.navbar__link-list.visible {
  max-height: 500px;
}

.link-list__item {
  font-size: 24px;
  margin-top: 50px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    font-size: 34px;
  }
}
.link-list__item:last-child {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.link-list__item:hover {
  opacity: 0.7;
}
.link-list__item:active {
  color: gray;
}
.list__logo:hover {
  opacity: 1;
}

.list__logo {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}
