.planList {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 20px;
  @media screen and (min-width: 650px) {
    column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }

  @media screen and (min-width: 1048px) {
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
