//Navbar
$navbar-back: #202020;
$navbar-toggle-button: #202020;
$navbar-text: #fff;

//navbar join button
$button-join: #fb680c;

//Footer
$copyright-backgorund: black;
$footer-text: white;
$footer-background: #202020;
