//Navbar
$navbar-back: #202020;
$navbar-toggle-button: #202020;
$navbar-text: #fff;

//navbar join button
$button-join: #fb680c;

//Footer
$copyright-backgorund: #000;
$footer-text: #fff;
$footer-background: #202020;

//form wrapper
$form-back: #f7f6f6;
$box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.75);

//about us page
$about-text: #000000;
$about-back: #fe6200;
