@import "./constants.scss";
* {
  margin: 0;
}
.logo__image {
  width: 100px;
}
.link {
  text-decoration: none;
  color: inherit;
}
.background__full {
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(80%);
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header__container {
  display: flex;
  flex-direction: column;
}
.header__img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  filter: brightness(70%);
}
.header__title {
  box-sizing: border-box;
  background-color: $about-back;
  opacity: 0.7;
  width: 100%;
  font-size: 50px;
  color: $about-text;
  padding-left: 30px;
}
.inputError {
  border-color: red !important;
  background-color: white !important;
}
.error__text {
  color: red;
}
