@import "../../styles/constants.scss";
.about {
  display: flex;
  flex-direction: column;
}
.section__aboutus {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section__aboutus__desc {
  font-size: 20px;
  padding: 20px 30px;
}
.section__mission {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  gap: 20px;
}
.section__mission__title {
  color: $about-text;
  font-size: 20px;
}
.section__mission__desc {
  font-size: 20px;
}
.section__card {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 20px 30px;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.section__card__title {
  font-size: 30px;
  color: $about-text;
}
